<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUSTech Management System</title>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="icon" href="../static/img/p1.jpeg" />
    <link href="../static/css/test.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/test2.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<aside class="sidebar">
    <div class="avatar">
        <img src="../static/img/p1.jpeg" title="sustech-icon"/>
    </div>
    <nav class="nav">
        <a href="index.html">首页</a>
        <a href="#info1">Director</a>
        <a href="#info2">Supply Staff</a>
        <a href="#info3">Contracts Manager</a>
        <a href="#info4">Salesman</a>
    </nav>
</aside>

<main>
    <section id="info1">
        <div class="wrap">
            <a class="th">sign in as a director</a>
            <div class="row">
            </div>
        </div>
    </section>

    <section id="info2">
        <div class="wrap">
            <a class="th">sign in as a supply staff</a>
            <div class="row">


            </div>
        </div>
    </section>

    <section id="info3">
        <div class="wrap">
            <a class="th">sign in as a contracts manager</a>
            <div class="row">


            </div>
        </div>
    </section>

    <section id="info4">
        <div class="wrap">
            <a class="th">sign in as a salesman</a>
            <div class="row">


            </div>
        </div>
    </section>

</main>

<footer>
    <p>© 2022 Powered By SUSTech&Co.</p>
</footer>

</body>
</html>